<body>
  <div class="infoArea">
    <div class="table">
      <img
        class="logo"
        src="assets/images/alingssdepartures-high-resolution-logo-transparent.png"
        alt="AlingsåsDepartures Logo"
      />
      <p>Visar avgångar mot Göteborg två timmar framåt</p>
      <p *ngIf="todayTime">Data hämtades senast {{ todayTime }}</p>
      <div *ngIf="isLoading()" class="loader"></div>
      @for (departure of departures?.results; track $index) {
      <div class="cardover" *ngIf="!isLoading()">
        <mat-card
          class="card 
          {{
            departure.isCancelled
              ? 'canceled'
              : departure.plannedTime == departure.estimatedTime
              ? 'onTime'
              : 'notOnTime'
          }}"
          (click)="expandOrCollapse($index)"
        >
          <div class="warningIcon">
            <span class="amountOfWarnings">{{
              departure.trafficDisruptions.length
            }}</span
            ><i
              *ngIf="departure.trafficDisruptions.length != 0"
              class="material-icons red"
              >warning_amber</i
            >
          </div>
          <mat-card-header>
            <mat-card-title>
              {{ departure.serviceJourney.line.name }}
              <span class="cardTitle">
                {{ departure.serviceJourney.line.designation }}</span
              >
            </mat-card-title>
            <mat-card-subtitle class="cardSubtitle"
              >mot {{ departure.serviceJourney.direction }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content class="cardContent">
            <p *ngIf="departure.isCancelled" class="itemInfoText">
              Inställd: Ja
            </p>
            <p class="itemInfoText">
              Planerad avgång: {{ departure.plannedTime | date : "HH:mm" }}
            </p>
            <p
              *ngIf="
                departure.plannedTime != departure.estimatedTime &&
                !departure.isCancelled
              "
              class="itemInfoText"
            >
              Faktisk avgång:
              {{
                departure.estimatedTime
                  ? (departure.estimatedTime | date : "HH:mm")
                  : (departure.estimatedOtherwisePlannedTime | date : "HH:mm")
              }}
            </p>
            <p *ngIf="departure.departureDetails" class="itemInfoText">
              Restid: {{ calculateTravelTime(departure) }} min
            </p>
            <p *ngIf="departure.departureDetails" class="itemInfoText">
              Antal stopp:
              {{
                departure.departureDetails.serviceJourneys[0]
                  .callsOnServiceJourney.length - 1
              }}
            </p>
            <div *ngIf="departure.showExpandedDetails">
              <hr />
              <p *ngIf="!departure.isCancelled" class="itemInfoText">
                Delsträcka inställd:
                {{ departure.isPartCancelled ? "Ja" : "Nej" }}
              </p>
              <p class="itemInfoText">
                Belastning:
                {{ getBelastning(departure) }}
              </p>
              <p class="itemInfoText">Stannar i:</p>
              <ul>
                @for (callsOnServiceJourney of
                departure.departureDetails.serviceJourneys[0].callsOnServiceJourney.slice(1);
                track $index) {
                <li>{{ callsOnServiceJourney.stopPoint.stopArea.name }}</li>
                }
              </ul>
              <span>
                <p class="itemInfoText red">Trafikstörningar:</p>
                <ul>
                  @for (trafficDisruption of departure.trafficDisruptions; track
                  $index) {
                  <li>
                    <p class="itemInfoText">
                      <strong>{{ trafficDisruption.title }}</strong>
                    </p>
                  </li>
                  <p class="itemInfoText">
                    {{ trafficDisruption.description }}
                  </p>
                  <p class="itemInfoText">
                    Allvarlighetsgrad: {{ trafficDisruption.severity }}
                  </p>
                  } @empty { Inga trafikstörningar }
                </ul>
              </span>
            </div>
          </mat-card-content>
          <i *ngIf="!departure.showExpandedDetails" class="material-icons"
            >expand_more</i
          >
          <i *ngIf="departure.showExpandedDetails" class="material-icons"
            >expand_less</i
          >
        </mat-card>
      </div>
      } @empty { Inga tågavgångar kunde hämtas. }
    </div>
  </div>
</body>
<router-outlet></router-outlet>
