<body>
  <div class="infoArea">
    <div class="table">
      <h1 class="title">Alingsås station: tåg mot Göteborg</h1>
      <h1>{{ today }}</h1>
      <p>Visar avgångar två timmar framåt</p>
      @for (departure of departures?.results; track $index) {

      <div class="cardover">
        <mat-card class="card {{ departure.onTime }}">
          <mat-card-header>
            <mat-card-title>
              {{ departure.serviceJourney.line.name }}
              <span class="cardTitle">
                {{ departure.serviceJourney.line.designation }}</span
              >
            </mat-card-title>
            <mat-card-subtitle class="cardSubtitle"
              >mot {{ departure.serviceJourney.direction }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content class="cardContent">
            Planerad avgång: {{ departure.plannedTime | date : "HH:mm" }}<br />
            Estimerad avgång: {{ departure.estimatedTime | date : "HH:mm"
            }}<br />
            Inställd: {{ departure.isCancelled ? "Ja" : "Nej" }}<br />
            Delsträcka inställd: {{ departure.isPartCancelled ? "Ja" : "Nej"
            }}<br />
          </mat-card-content>
        </mat-card>
      </div>
      } @empty { Inga tågavgångar har hämtats. }
    </div>
  </div>
</body>
<router-outlet></router-outlet>
